html {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: #4d4d4d;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0.75em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 0.75em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    margin-bottom: 0.75em;
    line-height: 1.4em;
}

hr {
    width: 80%;
    border: 0.8px solid #aaa;
    margin: 20px auto;
}

.textSpacer {
    height: 2em;
}

.smallNote {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}



/* Nav bar ---------------------------------- */

header {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

#navBar {
    width: 100%;
    height: 70px; /* Media query */
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
}

#navBar a { /* Media query */
    float: right;
    font-size: 18px;
    padding: 26px 52px 26px 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

#navBar a:hover{
    color: #aaa;
}

#navBarBack {
    width: 100%;
    height: 70px; /* Media query */
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: -70px;
    transition: top 0.3s;
}

#navBarBack img {
    height: 40px; /* Media query */
    margin: 15px; /* Media query */
}

.headerSpacer {
    height: 70px; /* Media query */
}



/* Body ---------------------------------- */

body {
    position: relative;
}

section {
    width: 100%;
    position: relative;
    /* border-bottom: 10px solid #222; */
    padding-bottom: 30px;
}

.fullHeight {
    min-height: 100vh;
}

.bigLogo {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.bigLogo img {
    max-height: 15vh;
    max-width: 80vw;
}

/* Grids */

.sectionGrid {
  display: grid;
  grid-template-columns: auto auto auto auto; /* Media query */
  grid-gap: 30px;
  padding: 30px;
}

.sectionGrid > div {
    /*border: 1px dashed grey;*/
}

.fullCell {
    grid-column: 1 / span 4; /* Media query */
}

.halfCellL {
    grid-column: 1 / span 2; /* Media query */
}

.halfCellC {
    grid-column: 2 / span 2; /* Media query */
}

.halfCellR {
    grid-column: 3 / span 2; /* Media query */
}

/* Cards */

.cardHeading {
    margin-top: 1em;
    margin-bottom: 0;
}

.cardCell {
    position: relative;
    box-shadow:1px 2px 8px #222;
    border-radius:4px;
    background-color: #fff/*rgba(255, 255, 255, 0.75)*/;
    overflow: hidden;
    color: black;
}

.cardCell:hover{
    /*box-shadow:1px 2px 8px #888;*/
}

.cardCell a {
    color: black;
    text-decoration: none;
    cursor: default;
}

.cardCell h3{
    margin: .6em 0;
    text-align: center;
}

.cardCell p {
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
}

.cardCell .comingSoon {
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 6vh;
    left: 0;
    z-index: 1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color:  rgba(100,250,100,0.75);
}

.cardCell img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    /*border-bottom: 2px solid #ddd;*/
}

/* Process */
.processCell {
    position: relative;
    box-shadow:1px 2px 8px #222;
    background-color: #fff/*rgba(255, 255, 255, 0.75)*/;
    color: black;
}

.processArrow {
    width: 30px;
    height: 100%;
    z-index: 1;
    position: absolute;
    /*opacity: 0.75;*/
    top: 0;
    left: 100%;
}

.processCell h2{    
    width: 100%;
    margin: 15px 0 .6em 0;
    text-align: center;
}

.processCell p {
    font-size: 1em;
    margin: 0 15px 15px 15px;
}

/* Form */

form {
    padding: 15px;
    margin: 0 20%; /* Media query */
    grid-gap: 20px 10px;
    box-shadow:1px 2px 8px #222;
    border-radius:4px;
    background-color: #fff;
    overflow: hidden;
    color: black;
}

form .inputBack {
    padding: 5px;
    margin: 0 8px 16px 8px;
    background-color: #eee
}

form .textInput, form select, form textarea {
    width: 100%;
    font-size: 1.2em;
    border: none;
    background-color: transparent;
}

form .textGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.textGrid > div {
    grid-column: 1 / span 2;
}

.textGrid .halfCellL {
    grid-column: 1 / span 1;
}

.textGrid .halfCellR {
    grid-column: 2 / span 1;
}

form .checkboxGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.submitButton {
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

/* Backgrounds */

.backgroundMedia {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.backgroundMedia img, .backgroundMedia video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */
footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    /* border-bottom: 10px solid #222; */
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer .halfCellR {
    text-align: right;
}

